# Google Sheets Configuration
VITE_SPREADSHEET_ID=1GuBKYPr_ea0A7Gh5mGQxxevQZs8qXZg4mSx93u5TCsg
VITE_SCRIPT_URL=

# Datajud API Configuration
PDPJ_API_TOKEN=

# Supabase Server & Client Configuration
SUPABASE_URL=https://qhxdujbsipgwthrgvncl.supabase.co
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=https://qhxdujbsipgwthrgvncl.supabase.co/auth/v1/.well-known/jwks.json

# Vite Client-side Supabase Configuration
VITE_SUPABASE_URL=https://qhxdujbsipgwthrgvncl.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PUBLISHABLE_KEY=
